/* @media print {
    body * {
        height: 10mm;
        visibility: hidden;
    }

    .myDivToPrint,
    .myDivToPrint * {
        visibility: visible;
    }

    .myDivToPrint {
        height: 100%;
        width: 100%;
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        margin: 0;
    }
} */

.myDivToPrint {
    height: 3in;
    width: 4in;
    /* background-color: red; */
    top: 0;
    left: 0;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
}
@media print {
  body * {
      visibility: hidden;
  }
  #myDivToPrint, #myDivToPrint * {
      visibility: visible;
  }
  .myDivToPrint {
    height: 3in;
    width: 4in;
    top: 0;
    left: 0;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
  }
}
.app-header {
    background: #869ac0 !important;
}
.app-sidebar {
    border-right: 2px solid #29a1d1;
    /* border-right: none; */
}
body {
    background-color: #f2f5fa !important;
}